extends layout

block content
	div.container
	.panel.panel-info
	.panel-heading Items List
		table.table
			thead
				tr 
					th Head1
					th Head2 
					th Head3
			tbody
				each item in itemsList
					tr
						td #{item.itemId} 
						td #{item.itemName} 
						td #{item.vendorId} 

		
	